.main {
  background-image: url(../public/banner.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 200px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}

.wrapper {
  height: 200px;
  width: 95%;
  opacity: 1;
  display: grid;
  row-gap: 0.2rem;
  place-items: center;
}

.wrapper h1 {
  width: 100%;
  text-align: center;
}

.wrapper span {
  font-size: 25px;
}

.button {
  width: 150px;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #c80909;
  font-size: medium;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #780505;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .wrapper span {
    font-size: 30px;
  }
  .wrapper h1 {
    width: 80%;
  }
  .button {
    width: 200px;
    padding: 1rem;
    font-size: large;
  }
}

.anchor {
  width: 100%;
  height: 200px;
}
