@use "../styles/variables.scss" as*;

.hidden {
    opacity: 0;
    text-align: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    gap: inherit;
    margin: inherit;
    place-items: inherit;
}

.fade-in {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}


.fade-in-bottom {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInBottom;
    animation-delay: 500ms;
}


@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1
    }
}

.fade-in-left {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 500ms;
    animation-name: fadeInLeft
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(100%);
    }

    to {
        opacity: 1
    }
}

.fade-in-right {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
    animation-delay: 500ms;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate(-100%);
    }

    to {
        opacity: 1
    }
}

.scale-in {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: scaleIn;
    animation-delay: 500ms;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0);
        transform: rotate(-540deg) scale(0);
    }

    to {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
}

.trackingInExpand {
    -webkit-animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}